version: "3.9"

services:
  node:
    build: .
    restart: always
    expose:
      - "5050"
    depends_on:
      - mongo
    networks:
      - mi-app-node
    environment:
      - PATH_DB=mongo
      - SSL=false
    deploy:
      replicas: 3
      restart_policy:
        condition: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5050"]
      interval: 30s
      retries: 3
      start_period: 5s
      timeout: 10s
    volumes:
      - imagenes_data:/imagenes


  mongo:
    image: mongo:8.0
    container_name: contenedor_mongodb
    ports:
      - "27019:27017"
    networks:
      - mi-app-node
    volumes:
      - mongo_data:/data/db


  nginx:
    image: nginx:latest
    container_name: contenedor_nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - node
    networks:
      - mi-app-node
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro

networks:
  mi-app-node:
    driver: bridge


volumes:
  mongo_data:
  imagenes_data: