* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: 500;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.content {
    width: 100%
}


.topbar {
    background-color: #73a4ff;
    color: rgb(255, 255, 255) !important;
    display: flex;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 99.5vw;
    position: fixed;
    z-index: 9999;
}

.topbar-right {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 0.5rem;
}


.dropdown-menu {
    position: absolute;
    top: 100%;   /* justo debajo del contenido (imagen + username) */
    right: 0;    /* alineado con el borde derecho */
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10000;
    color: black !important;
    transition: all 0.6s ease, opacity 0.4s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0
}


.dropdown-menu.open {
  max-height: 12rem;    /* abre (ajusta según el tamaño de tu menú) */
  opacity: 1;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;  /* evita cortes feos de texto */
    color:"black"
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}


.topbar-left {
    display: flex; /* Hacer que los elementos internos se alineen en una fila */
    align-items: center; /* Centrar verticalmente los elementos */
    gap: 1rem; /* Espacio entre los elementos */
    
}



.topbar-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.topbar-username {
    font-weight: bold;
}

.nav-bar{
    z-index: 932;
}

.central_content{
    margin-top: 3.6rem;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.central_content.vertical{
    margin-top: 3.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}


.sidebar {
    width: 10rem;
    background-color: #f8fbff;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    overflow: hidden; /* Oculta contenido que pueda desbordar durante la transición */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
    z-index: 100;

}

  
/* Sidebar oculto */
#sidebar.hidden_left {
transform: translateX(-100%);
pointer-events: none; 
transition: transform 0.5s ease-in-out;
}

#sidebar.hidden_up {
    transform: translateY(-100%);
    pointer-events: none; 
    transition: transform 0.5s ease-in-out;
}
    




.sidebar.horizontal {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
    background-color: #ffffff; /* Ajusta el estilo según sea necesario */
    padding: 10px 0;
    box-shadow: 0 2px 2px rgba(192, 192, 192, 0.1)
}

.sidebar.horizontal .sidebar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-top: 0;
}


.sidebar.horizontal .sidebar-links li {
    display: inline-block;
    padding: 0 10px;
}


#images_container{
    color:white;
    width: 8rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 15px; /* Redondeamos las esquinas aquí */
    background: linear-gradient(210deg, #4d94ff, #f8ff95);
    /* margin-top: 1rem; */
}


#imagenes_portada_saladillo{
    padding-top: 0.2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
}


#span1{
    font-family: "Nova Flat";
}


#span2{
    font-family: "Arial";
}


.sidebar-links {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar-links li {
    padding: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
    cursor:pointer;
}

.sidebar-links li:hover {
    box-shadow: 2px 0px 2px 2px rgba(113, 113, 113, 0.2);
    background-color: rgb(226, 237, 255);
    scale: 1.1;
    transition: scale linear 0.1s;
}

.sidebar-links li.active {
    box-shadow: 2px 0px 2px 2px rgba(113, 113, 113, 0.2);
    background-color: rgb(226, 237, 255);
}

.sidebar-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left:0.5rem;
   
}




.main-content {
    padding: 20px;
    width: 90vw;
    margin-left: 10rem; /* Margen inicial */
    transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out, margin-top 0.5s ease-in-out/* Animar ambas propiedades */
}

.main-content.expanded {
    margin-left: 0rem; /* Cambia el margen */
    width: 100%; /* Cambia el ancho */

}

.main-content.margin_top {
    margin-top: 4.8rem; /* Cambia el margen */
    width: 100%; /* Cambia el ancho */

}

.main-content-options {
    transition: background-color 0.8s ease; /* Animación gradual */
}

.grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.8rem;
    overflow: hidden /* Animación suave */
}

.grid-item {
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.grid-item, .day-header, .empty-day {
    transition: transform 1s ease-out; /* Animación suave */
}

.slide-right {
    transform: translateX(250vw); /* Desplaza las tarjetas hacia la derecha */
    opacity: 1; /* Hace que las tarjetas desaparezcan gradualmente */
}

.slide-left {
    transform: translateX(-250vw); /* Desplaza las tarjetas hacia la izquierda */
    opacity: 1;
}

button{
    cursor:pointer;
}

#flonnect-my-app {
    display: none;
}

p .toggle-sidebar-btn {
    cursor:pointer
}


#toggle-sidebar-top {
cursor:pointer
}

.loader-container {
position: fixed;
top: 0; left: 0;
width: 100%; height: 100%;
background: rgba(255, 255, 255, 0.8);
display: flex;
align-items: center;
justify-content: center;
z-index: 9999;
flex-direction: column;
}


.loader {
  border: 4px solid #f3f3f3; /* Gris claro */
  border-top: 4px solid #3498db; /* Azul */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
  margin: 0.8rem auto; /* Centrado */
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes heartbeat {
    0%, 100% { transform: scale(1); }
    25% { transform: scale(1.3); }
    40% { transform: scale(1); }
    60% { transform: scale(1.2); }
    80% { transform: scale(1); }
  }

.heart-anim {
animation: heartbeat 0.6s ease forwards;
}


.scroll-animate {
opacity: 0;
transform: translateY(20px);
transition: all 0.6s ease-out;
            }

.scroll-animate.visible {
opacity: 1;
transform: translateY(0);
}





@media (max-width: 600px) {
    .root{
        font-size: 8px;
    }

    #images_container h3{
        font-size: 0.9rem;
       
    }

    #images_container {
        width: 6.7rem;
    }

    .topbar {
        box-shadow: 0 2px 2px rgba(192, 192, 192, 0.1)
    }


    .topbar-left h2{
        font-size: 1rem;
    }

    .grid{
        gap:0.2rem
    }
    .activityButton{
        font-size: 0.5rem;
    }
}
